<div th:fragment="component-input-form-definition-mixins" th:remove="tag">
  <template>
    <div class="my-5">
      <template v-for="(_, index) in mixins">
        <v-row>
          <v-col cols="10">
            <v-text-field
              @blur="save(index)"
              v-model="mixins[index].attributes.name"
              :label="fields.label"
              :hint="fields.hint"
            >
            </v-text-field>
          </v-col>
          <v-col cols="2">
            <v-btn @click="remove(index)" icon>
              <v-icon color="red">mdi-delete-circle-outline</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </template>

      <v-btn @click="add" class="my-5">Add Mixin</v-btn>
    </div>
  </template>

  <script th:inline="javascript">
    DOM = document.getElementsByTagName("template")[0];
    DOM.remove();

    Vue.component("component-input-form-definition-mixins", {
      template: DOM.innerHTML.toString(),

      props: { path: String, inputType: String },
      data() {
        return {
          mixins: [],

          fields: {
            label: "Mixin",
            hint: "This is a hint.",
          },
        };
      },
      mounted() {
        this.mixins = this.elements;
      },
      watch: {
        elements() {
          this.mixins = this.elements;
        },
      },
      methods: {
        save(index) {
          const path = `${this.path}elements`;
          const data = [...this.remainingElements, ...this.mixins];

          this.$store.commit("updateJson", { path, data });
        },
        add() {
          this.mixins.push({
            type: "element",
            name: "mixin",
            attributes: { name: "" },
          });
        },
        remove(index) {
          this.mixins = this.mixins.filter((_, idx) => idx !== index);
          this.save(index);
        },
      },
      computed: {
        json() {
          return this.$store.getters.jsonPath(this.path);
        },
        elements() {
          return (this.json.elements || []).filter(
            (element) => element.name === "mixin"
          );
        },
        remainingElements() {
          return (this.json.elements || []).filter(
            (element) => element.name !== "mixin"
          );
        },
      },
    });
  </script>
</div>
