<div
  th:fragment="component-input-form-definition-allow-child-content-types"
  th:remove="tag"
>
  <template>
    <div class="my-5">
      <template v-for="(_, index) in allowedChildContentTypes">
        <v-card>
          <v-row>
            <v-col cols="9">
              <v-card-subtitle>
                <v-text-field
                  @blur="save(index)"
                  v-model="allowedChildContentTypes[index].elements[0].text"
                  :label="fields.label"
                  :hint="fields.hint"
                  :rules="[rules.requiredText, rules.noSpaces]"
                  class="required"
                >
                </v-text-field>
              </v-card-subtitle>
            </v-col>
            <v-col cols="3" class="d-flex align-center justify-center">
              <v-btn @click="remove(index)" icon class="spacer-2-icons-left">
                <v-icon color="red">mdi-delete-circle-outline</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </template>

      <v-btn @click="add" class="mb-5">Add allowed child content type</v-btn>
    </div>
  </template>

  <script th:inline="javascript">
    DOM = document.getElementsByTagName("template")[0];
    DOM.remove();

    Vue.component("component-input-form-definition-allow-child-content-types", {
      template: DOM.innerHTML.toString(),

      props: { path: String, inputType: String },
      data() {
        return {
          allowedChildContentTypes: [],

          fields: {
            label: "Allowed child content type",
            hint: "If specified, only content of content types matching specified criteria will be allowed to be created or moved under content of this content type.",
          },
        };
      },
      mounted() {
        this.allowedChildContentTypes = this.elements;
      },
      watch: {
        elements() {
          this.allowedChildContentTypes = this.elements;
        },
      },
      methods: {
        save(index) {
          const path = `${this.path}elements`;
          const data = [
            ...this.allowedChildContentTypes,
            ...this.remainingElements,
          ];

          this.$store.commit("updateJson", { path, data });
        },
        add() {
          this.allowedChildContentTypes.push({
            type: "element",
            name: "allow-child-content-type",
            elements: [{ type: "text", text: "" }],
          });
        },
        remove(index) {
          this.allowedChildContentTypes = this.allowedChildContentTypes.filter(
            (_, idx) => idx !== index
          );
          this.save(index);
        },
      },
      computed: {
        json() {
          return this.$store.getters.jsonPath(this.path);
        },
        elements() {
          return this.json.elements.filter(
            (element) => element.name === "allow-child-content-type"
          );
        },
        remainingElements() {
          return this.json.elements.filter(
            (element) => element.name !== "allow-child-content-type"
          );
        },
        rules() {
          return this.$store.state.moduleRules.rules;
        },
      },
    });
  </script>
</div>
