<div th:fragment="component-form-definition-allow-child-content" th:remove="tag">

    <template>

        <v-select
            @blur="save"
            v-model="states.text"
            :label="field.label"
            :hint="field.hint"
            :items="['true', 'false']">
        </v-select>
        
    </template>

    <script th:inline="javascript">
        DOM = document.getElementsByTagName('template')[0]
        DOM.remove()

        Vue.component("component-form-definition-allow-child-content", {
            template: DOM.innerHTML.toString(),

            props: { path: String, inputType: String },
            data(){
                return {
                    field:{
                        label: 'Allow Child Content',
                        hint: 'This is a hint.'
                    },

                    states: {
                        text: ''
                    }   
                }
            },
            mounted(){
                this.states.text = this.value
            },
            watch:{
                value() { this.states.text = this.value }
            },
            methods:{
                save(){
                    const path = `${this.path}.elements`
                    const data = [{
                        type: "text", 
                        text: this.states.text 
                    }]
                    this.$store.commit('updateJson', { path, data })
                }
            },
            computed: {
                json() { return this.$store.getters.jsonPath(this.path) },
                value() { return _.get(this.json, 'elements[0].text') || 'false' }
            }
        })

    </script>

</div>
