<div th:fragment="component-schemas" th:remove="tag">
  <template>
    <div>
      <div v-if="filteredSchemas.length > 1">
        <v-autocomplete
          v-model="selectedSchemaName"
          :items="filteredSchemas"
          label="Select Element"
          prepend-inner-icon="mdi-xml"
        ></v-autocomplete>
        <v-btn 
          @click="addSchema"
          :disabled="!selectedSchemaName"
          >Add</v-btn>
      </div>
      <div v-else>
        <v-btn @click="addSchema">Add {{ filteredSchemas[0] }}</v-btn>
      </div>
    </div>
  </template>

  <script th:inline="javascript">
    DOM = document.getElementsByTagName("template")[0];
    DOM.remove();

    Vue.component("component-schemas", {
      template: DOM.innerHTML.toString(),
      props: { path: String, show: Array, hide: Array },
      data() {
        return {
          schemas: [
            "AttachmentUploader",
            "CheckBox",
            "ComboBox",
            "ContentSelector",
            "ContentTypeFilter",
            "CustomSelector",
            "Date",
            "DateTime",
            "Double",
            "FieldSet",
            "GeoPoint",
            "HtmlArea",
            "ImageSelector",
            "ItemSet",
            "Long",
            "MediaSelector",
            "Mixin",
            "Option",
            "OptionSet",
            "RadioButton",
            "Tag",
            "TextArea",
            "TextLine",
            "Time",
          ],

          selectedSchemaName: "",

          schemaJson: {},
        };
      },
      methods: {
        addSchema() {
          const schemaName = this.filteredSchemas.length > 1 
            ? this.selectedSchemaName 
            : this.filteredSchemas[0] || '';

          if(!schemaName) return;
          
          fetch(`${app.$root._data.services.jsonSchemas}?schemaName=${schemaName}`)
            .then((response) => {
              if (!response.ok) {
                throw new Error(response.statusText);
              }
              return response.json();
            })
            .then((data) => {
              this.schemaJson = _.get(data, "json.elements[0]") || {};

              if (!this.path)
                // add in form
                this.$store.commit("addSchemaInForm", {
                  schemaJson: this.schemaJson,
                });
              else
                // add in set
                this.$store.commit("addSchemaInSet", {
                  path: this.path,
                  schemaJson: this.schemaJson,
                });

              this.selectedSchemaName = "";
            })
            .catch((error) => console.log(error));
        },
      },
      computed: {
        filteredSchemas() {
          const show = this.show || this.schemas;
          const hide = this.hide || [];
          return this.schemas.filter(
            (schemaName) =>
              show.indexOf(schemaName) !== -1 && hide.indexOf(schemaName) === -1
          );
        },
      },
    });
  </script>
</div>
