<div th:fragment="component-recursive-element-render" th:remove="tag">
  <template>
    <div>
      <template v-for="(element, index) in elements">
        <component
          v-if="element.name === 'content-type'"
          :is="'component-content-type'"
          v-bind="{ path: depthPath(index) }"
        ></component>

        <component
          v-if="element.name === 'form'"
          :is="'component-form'"
          v-bind="{ path: depthPath(index) }"
        ></component>

        <component
          v-if="element.name === 'input'"
          :is="'component-input'"
          v-bind="{ path: depthPath(index) }"
        ></component>

        <component
          v-if="element.name === 'field-set'"
          :is="'component-field-set'"
          v-bind="{ path: depthPath(index) }"
        ></component>

        <component
          v-if="element.name === 'item-set'"
          :is="'component-item-set'"
          v-bind="{ path: depthPath(index) }"
        ></component>

        <component
          v-if="element.name === 'option-set'"
          :is="'component-option-set'"
          v-bind="{ path: depthPath(index) }"
        ></component>
      </template>
    </div>
  </template>

  <script th:inline="javascript">
    DOM = document.getElementsByTagName("template")[0];
    DOM.remove();

    Vue.component("component-recursive-element-render", {
      template: DOM.innerHTML.toString(),
      props: {
        path: String,
      },
      methods: {
        elementHasElements(element) {
          return Object.keys(element).indexOf("elements") !== -1;
        },
        depthPath(index) {
          return `${this.path}elements[${index}]`;
        },
      },
      computed: {
        json() {
          return this.path
            ? this.$store.getters.jsonPath(this.path)
            : this.$store.state.moduleExample.json;
        },
        elements() {
          return this.json.elements;
        },
      },
    });
  </script>
</div>
