<div th:fragment="component-option-set-options" th:remove="tag">
  <template>
    <v-card>
      <div class="row pointer" @click="showConfig = !showConfig">
        <v-col cols="11">
          <v-card-title>{{ inputName }}</v-card-title>
        </v-col>
        <v-col cols="1" class="d-flex align-center justify-end">
          <v-btn class="mr-2" icon>
              <v-icon>{{ showConfig ? 'mdi-menu-up' : 'mdi-menu-down' }}</v-icon>
          </v-btn>
        </v-col>
      </div>

      <transition name="fade">
        <v-card-text v-show="showConfig">

          <v-row>
            <v-col>
              <v-text-field
                @blur="save"
                v-model="states.minimum"
                :label="fields.minimum.label"
                :hint="fields.minimum.hint"
                :rules="[rules.requiredText, rules.numberNotNegative]"
              >
              </v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                @blur="save"
                v-model="states.maximum"
                :label="fields.maximum.label"
                :hint="fields.maximum.hint"
                :rules="[rules.requiredText, rules.numberNotNegative]"
              >
              </v-text-field>
            </v-col>
          </v-row>

          <template v-for="(element, index) in elements">
            <component
              is="component-option-set-options-option"
              v-bind="{ path: depthPath(index), inputName }"
            ></component>
          </template>

          <component-schemas
            :path="path"
            :show="['Option']"
          ></component-schemas>
        </v-card-text>
      </transition>
    </v-card>
  </template>

  <script th:inline="javascript">
    DOM = document.getElementsByTagName("template")[0];
    DOM.remove();

    Vue.component("component-option-set-options", {
      template: DOM.innerHTML.toString(),

      props: {
        path: String,
      },
      data() {
        return {
          showConfig: true,

          fields: {
            minimum: {
              label: "Minimum",
              hint: "This is a hint.",
            },

            maximum: {
              label: "Maximum",
              hint: "This is a hint.",
            },
          },

          states: {
            minimum: 1,
            maximum: 1,
          },
        };
      },
      methods: {
        depthPath(index) {
          return `${this.path}elements[${index}]`;
        },

        save() {
          const path = `${this.path}.attributes`;
          const data = {
            minimum: this.states.minimum,
            maximum: this.states.maximum,
          };
          this.$store.commit("updateJson", { path, data });
        },
      },
      computed: {
        json() {
          return this.$store.getters.jsonPath(this.path);
        },
        inputName() {
          return "Options";
        },
        elements() {
          return this.json.elements || [];
        },
        id() {
          return this.path + ":option_set-options";
        },

        rules() {
          return this.$store.state.moduleRules.rules;
        },
      },
    });
  </script>
</div>
