<div th:fragment="component-form" th:remove="tag">
  <template>
    <div>
      <component
        :is="'component-recursive-element-render'"
        v-bind="{ path }"
      ></component>
      <component-schemas :path="''" :hide="['Option']"></component-schemas>
    </div>
  </template>

  <script th:inline="javascript">
    DOM = document.getElementsByTagName("template")[0];
    DOM.remove();

    Vue.component("component-form", {
      template: DOM.innerHTML.toString(),

      props: {
        path: String,
      },
    });
  </script>
</div>
