<div th:fragment="component-form" th:remove="tag">
  <template>
    <v-card>
      <div class="row pointer" @click="showConfig = !showConfig">
        <v-col cols="12">
          <v-card-title>{{ inputType }}</v-card-title>
        </v-col>
      </div>

      <transition name="fade">
        <v-card-text v-show="showConfig">

          <component
            :is="'component-recursive-element-render'"
            v-bind="{ path }"
          ></component>

          <component
            :is="'component-input-form-definition-mixins'"
            v-bind="{ path }"
          ></component>

          <component-schemas :path="''" :hide="['Option']"></component-schemas>
        </v-card-text>
      </transition>
    </v-card>
  </template>

  <script th:inline="javascript">
    DOM = document.getElementsByTagName("template")[0];
    DOM.remove();

    Vue.component("component-form", {
      template: DOM.innerHTML.toString(),

      props: {
        path: String,
      },
      data() {
        return {
          valid: true,
          showConfig: true,
        };
      },
      computed: {
        json() {
          return this.$store.getters.jsonPath(this.path);
        },
        inputType() {
          return "Form";
        },
        id() {
          return this.path + ":form";
        },
      },
    });
  </script>
</div>
