<div th:fragment="component-item-set" th:remove="tag">
  <template>
    <v-card>
      <div class="row pointer" @click="showConfig = !showConfig">
        <v-col cols="9">
          <v-card-title>{{ inputName }}</v-card-title>
          <v-card-subtitle>
            <small>
              <a :href="docsUrl" target="_blank" @click.stop>{{ inputType }}</a>
            </small>
          </v-card-subtitle>
        </v-col>
        <v-col cols="3" class="d-flex align-center justify-center">
          <v-btn @click.stop="moveSetUp" icon>
            <v-icon> mdi-arrow-up </v-icon>
          </v-btn>
          <v-btn @click.stop="moveSetDown" icon>
            <v-icon> mdi-arrow-down </v-icon>
          </v-btn>
          <v-btn @click.stop="removeSet" icon>
            <v-icon color="red"> mdi-delete-circle-outline </v-icon>
          </v-btn>
        </v-col>
      </div>

      <transition name="fade">
        <v-card-text v-show="showConfig">
          <v-divider class="mb-5"></v-divider>

          <!-- Name -->
          <component
            :is="'component-input-fields-name'"
            v-bind="{ path, inputType }"
          ></component>

          <template
            v-if="Object.keys(map).length > 0"
            v-for="(element, index) in elements"
          >
            <component
              v-if="map[element.name] !== undefined"
              :is="map[element.name].componentName"
              v-bind="{ 
                path: depthPath(index),
                field: map[element.name].field,
                rules: map[element.name].rules,
                i18n: map[element.name].i18n
               }"
            ></component>
            <component
              v-else-if="element.name === 'items'"
              :is="'component-set-items'"
              v-bind="{ path: depthPath(index) }"
            ></component>
          </template>
        </v-card-text>
      </transition>
    </v-card>
  </template>

  <script th:inline="javascript">
    DOM = document.getElementsByTagName("template")[0];
    DOM.remove();

    Vue.component("component-item-set", {
      template: DOM.innerHTML.toString(),

      props: {
        path: String,
      },
      data() {
        return {
          showConfig: false,
          map: {},
        };
      },
      created() {
        this.map = app.$root._data.map;
      },
      methods: {
        depthPath(index) {
          return `${this.path}elements[${index}]`;
        },

        moveSetUp() {
          this.$store.commit("moveSchemaInJson", {
            path: this.path,
            direction: "up",
          });
        },

        moveSetDown() {
          this.$store.commit("moveSchemaInJson", {
            path: this.path,
            direction: "down",
          });
        },

        removeSet() {
          this.$store.commit("removeSchemaInJson", { path: this.path });
        },
      },
      computed: {
        json() {
          return this.$store.getters.jsonPath(this.path);
        },
        inputName() {
          return this.json.attributes.name;
        },
        inputType() {
          return "Item_Set";
        },
        elements() {
          return this.json.elements || [];
        },
        docsUrl() {
          return `https://developer.enonic.com/docs/xp/stable/cms/schemas#${this.inputType.toLowerCase()}`;
        },
      },
    });
  </script>
</div>
