<div th:fragment="component-input-fields-occurrences" th:remove="tag">
  <template>
    <v-row>
      <v-col>
        <v-text-field
          @blur="save"
          v-model="states.minimum"
          :label="fields.minimum.label"
          :hint="fields.minimum.hint"
          :rules="[rules.requiredText, rules.numberNotNegative]"
        >
        </v-text-field>
      </v-col>
      <v-col>
        <v-text-field
          @blur="save"
          v-model="states.maximum"
          :label="fields.maximum.label"
          :hint="fields.maximum.hint"
          :rules="[rules.requiredText, rules.numberNotNegative]"
        >
        </v-text-field>
      </v-col>
    </v-row>
  </template>

  <script th:inline="javascript">
    DOM = document.getElementsByTagName("template")[0];
    DOM.remove();

    Vue.component("component-input-fields-occurrences", {
      template: DOM.innerHTML.toString(),

      props: { path: String, inputType: String },
      data() {
        return {
          fields: {
            minimum: {
              label: "Minimum",
              hint: "Set to to zero means the input is not mandatory.",
            },

            maximum: {
              label: "Maximum",
              hint: "Zero means there is no upper limit to the number of values.",
            },
          },

          states: {
            minimum: 0,
            maximum: 1,
          },
        };
      },
      mounted() {
        this.states.minimum = this.valueMin;
        this.states.maximum = this.valueMax;
      },
      watch: {
        valueMin() {
          this.states.minimum = this.valueMin;
        },
        valueMax() {
          this.states.maximum = this.valueMax;
        },
      },
      methods: {
        save() {
          const path = `${this.path}.attributes`;
          const data = {
            minimum: this.states.minimum,
            maximum: this.states.maximum,
          };
          this.$store.commit("updateJson", { path, data });
        },
      },
      computed: {
        json() {
          return this.$store.getters.jsonPath(this.path);
        },
        valueMin() {
          return _.get(this.json, "attributes.minimum") || 0;
        },
        valueMax() {
          return _.get(this.json, "attributes.maximum") || 1;
        },
        rules() {
          return this.$store.state.moduleRules.rules;
        },
      },
    });
  </script>
</div>
