<div th:fragment="component-input-fields-config" th:remove="tag">
  <template>
    <v-card>
      <v-card-subtitle> {{ inputType }} - config.</v-card-subtitle>

      <v-card-text>

        <component
          v-if="options.length > 0 
            || inputType === 'ComboBox' 
            || inputType === 'RadioButton'"
          :is="'component-input-fields-options'"
          v-bind="{ path, inputType }"
        ></component>

        <component
          v-if="params.length > 0
            || inputType === 'CustomSelector'"
          :is="'component-input-fields-params'"
          v-bind="{ path, inputType }"
        ></component>

        <component
          v-if="allowContentTypes.length > 0
            || inputType === 'ContentSelector'
            || inputType === 'MediaSelector'"
          :is="'component-input-fields-allowContentTypes'"
          v-bind="{ path, inputType }"
        ></component>

        <component
          v-if="allowPaths.length > 0
            || inputType === 'ContentSelector'
            || inputType === 'MediaSelector'
            || inputType === 'ImageSelector'"
          :is="'component-input-fields-allowPaths'"
          v-bind="{ path, inputType }"
        ></component>

        <template
          v-if="Object.keys(map).length > 0"
          v-for="(element, index) in remainingElements"
        >
          <component
            v-if="map[element.name] !== undefined"
            :is="map[element.name].componentName"
            v-bind="{ 
                path: depthPath(index),
                field: map[element.name].field,
                items: map[element.name].items,
                rules: map[element.name].rules,
                i18n: map[element.name].i18n
               }"
          ></component>
          <component
            v-else-if="element.name"
            :is="'component-input-fields-' + element.name"
            v-bind="{ path: depthPath(index), inputType }"
          ></component>
        </template>
      </v-card-text>
    </v-card>
  </template>

  <script th:inline="javascript">
    DOM = document.getElementsByTagName("template")[0];
    DOM.remove();

    Vue.component("component-input-fields-config", {
      template: DOM.innerHTML.toString(),

      props: { path: String, inputType: String },
      data() {
        return {
          map: {},
        };
      },
      created() {
        this.map = app.$root._data.map;

        // TODO: Add cache to avoid unecessary requests
        fetch(
            `http://localhost:8080/_/service/tool.content.type.manager/test2?schemaName=${this.inputType}`
          ).then((response) => {
            if (!response.ok) {
              throw new Error(response.statusText);
            }
            return response.json();
          }).then((data) => {
            const elements = _.get(data, 'json.elements[0]elements') || []
            const rawJsonConfigElements = _.get(elements.find(el => el.name === 'config'), 'elements') || [];
            rawJsonConfigElements.forEach((rawEl) => {
              if(this.elements.every(el => el.name !== rawEl.name)){
                this.elements.push(rawEl);
              }
            });
          });
      },
      methods: {
        depthPath(index) {
          return `${this.path}elements[${index}]`;
        },
      },
      computed: {
        json() {
          return this.$store.getters.jsonPath(this.path);
        },
        elements() {
          return this.json.elements || [];
        },

        options() {
          return (
            (this.elements &&
              this.elements.filter(
                (element) => element.name === "option"
              )) ||
            []
          );
        },
        params() {
          return (
            (this.elements &&
              this.elements.filter(
                (element) => element.name === "param"
              )) ||
            []
          );
        },
        allowContentTypes() {
          return (
            (this.elements &&
              this.elements.filter(
                (element) => element.name === "allowContentType"
              )) ||
            []
          );
        },
        allowPaths() {
          return (
            (this.elements &&
              this.elements.filter(
                (element) => element.name === "allowPath"
              )) ||
            []
          );
        },

        remainingElements() {
          return (
            (this.elements &&
              this.elements.map((element) => {
                // This is needed in order to maintain the order
                // and pass the correct indexes to deptPath
                if (
                  element.name === "option" ||
                  element.name === "param" ||
                  element.name === "allowContentType" ||
                  element.name === "allowPath"
                ) {
                  return {};
                } else {
                  return element;
                }
              })) ||
            []
          );
        },
      },
    });
  </script>
</div>
