<div th:fragment="component-input-fields-allowPaths" th:remove="tag">
  <template>
    <div>
      <template v-for="(_, index) in allowedPaths">
        <v-row>
          <v-col cols="10">
            <v-text-field
              @blur="save(index)"
              v-model="allowedPaths[index].elements[0].text"
              :label="fields.label"
              :hint="fields.hint"
            >
            </v-text-field>
          </v-col>
          <v-col cols="2">
            <v-btn @click="remove(index)" icon>
              <v-icon color="red">mdi-delete-circle-outline</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </template>

      <v-btn @click="add" class="my-5">Add allowed path</v-btn>
    </div>
  </template>

  <script th:inline="javascript">
    DOM = document.getElementsByTagName("template")[0];
    DOM.remove();

    Vue.component("component-input-fields-allowPaths", {
      template: DOM.innerHTML.toString(),

      props: { path: String, inputType: String },
      data() {
        return {
          allowedPaths: [],

          fields: {
            label: "Allowed Path",
            hint: "Is used to limit the path of the content that may be selected using the allowPath Samples. By default, Content Selector only displays content from the same site.",
          },
        };
      },
      mounted() {
        this.allowedPaths = this.elements;
      },
      watch: {
        elements() {
          this.allowedPaths = this.elements;
        },
      },
      methods: {
        save(index) {
          const path = `${this.path}elements`;
          const data = [...this.allowedPaths, ...this.remainingElements];

          this.$store.commit("updateJson", { path, data });
        },
        add() {
          this.allowedPaths.push({
            type: "element",
            name: "allowPath",
            elements: [{ type: "text", text: "" }],
          });
        },
        remove(index) {
          this.allowedPaths = this.allowedPaths.filter(
            (_, idx) => idx !== index
          );
          this.save(index);
        },
      },
      computed: {
        json() {
          return this.$store.getters.jsonPath(this.path);
        },
        elements() {
          return (this.json.elements || []).filter(
            (element) => element.name === "allowPath"
          );
        },
        remainingElements() {
          return (this.json.elements || []).filter(
            (element) => element.name !== "allowPath"
          );
        },
      },
    });
  </script>
</div>
