<div th:fragment="component-input-fields-label" th:remove="tag">
  <template>
    <div>
      <v-text-field
        @blur="save"
        v-model="states.text"
        :label="field.label"
        :hint="field.hint"
        :rules="[rules.requiredText]"
        append-icon="mdi-translate"
        @click:append="showDialog"
      >
      </v-text-field>

      <component-i18n-dialog
        :path="path"
        :showdialog="i18n.dialog"
      ></component-i18n-dialog>
    </div>
  </template>

  <script th:inline="javascript">
    DOM = document.getElementsByTagName("template")[0];
    DOM.remove();

    Vue.component("component-input-fields-label", {
      template: DOM.innerHTML.toString(),

      props: { path: String, inputType: String },
      data() {
        return {
          field: {
            label: "Label",
            hint: "Is another mandatory field that holds the human readable value that will be displayed when listing the input type control in the administrative interface.",
          },

          i18n: { dialog: false },

          states: { text: "" },
        };
      },
      mounted() {
        this.states.text = this.value;
      },
      watch: {
        value() {
          this.states.text = this.value;
        },
      },
      methods: {
        save() {
          const path = `${this.path}.elements`;
          const data = [
            {
              type: "text",
              text: this.states.text,
            },
          ];
          this.$store.commit("updateJson", { path, data });
        },
        showDialog() {
          this.i18n.dialog = false;
          setTimeout(() => (this.i18n.dialog = true), 100);
        },
      },
      computed: {
        json() {
          return this.$store.getters.jsonPath(this.path);
        },
        value() {
          return _.get(this.json, "elements[0].text") || "";
        },
        rules() {
          return this.$store.state.moduleRules.rules;
        },
      },
    });
  </script>
</div>
