#app {
  background-color: rgb(235, 235, 235);
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 960px) {
  #app {
    padding: 25px 15%;
  }
}

.h-100 {
  height: 100vh;
}

/* Seet alert rules */

.swal2-container {
  font-family: "Roboto";
}

/* Vuetify overwrite rules */

.v-card {
  margin: 25px 0px;
}

.v-card .v-card-error {
  border: 2px solid red;
}

.v-card__title,
.v-card__subtitle {
  padding: 5px 16px;
}

.v-card__title + .v-card__subtitle {
  padding-top: 5px;
}

.v-card > .v-card__subtitle {
  padding-top: 16px;
}

.v-dialog .v-card {
  margin: 0px;
}

.pointer:hover {
  cursor: pointer;
}

.spacer-2-icons-left {
  margin-left: 72px;
}

/* Icon */

.loading-icon {
  width: 50px;
  display: block;
  margin: 0 auto;
}

.no-border {
  border: 0 !important;
}

/* Transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
