#app {
  background-color: rgb(235, 235, 235);
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 960px) {
  #app {
    padding: 25px 15%;
  }
}

.pointer:hover {
  cursor: pointer;
}

/* --- */

.swal2-container {
  font-family: "Roboto";
}

/* --- */

.v-card {
  margin: 25px 0px !important;
}

.v-dialog .v-card {
  margin: 0px !important;
}

/* --- */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
