#app {
  background-color: rgb(235, 235, 235);
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 960px) {
  #app {
    padding: 25px 15%;
  }
}

/* Vuetify overwrite rules */

.swal2-container {
  font-family: "Roboto";
}

/* --- */

.v-card {
  margin: 25px 0px;
}

.v-dialog .v-card {
  margin: 0px;
}

/* Icon */

.loading-icon {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.no-border {
  border: 0 !important;
}

/* Transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
