<div th:fragment="component-input-boolean" th:remove="tag">
  <template>
    <div>
      <v-checkbox
        @click="save"
        v-model="states.text"
        :label="field.label"
        :hint="field.hint"
      >
      </v-checkbox>
    </div>
  </template>

  <script th:inline="javascript">
    DOM = document.getElementsByTagName("template")[0];
    DOM.remove();

    Vue.component("component-input-boolean", {
      template: DOM.innerHTML.toString(),

      props: {
        path: String,
        field: { label: String, hint: String },
        rules: Array,
        i18n: Boolean,
      },
      data() {
        return {
          states: {
            text: false,
          },
        };
      },
      mounted() {
        this.states.text = this.value;
      },
      watch: {
        value() {
          this.states.text = this.value;
        },
      },
      methods: {
        save() {
          const path = `${this.path}.elements`;
          const data = [
            {
              type: "text",
              text: this.states.text.toString(),
            },
          ];
          this.$store.commit("updateJson", { path, data });
        },
      },
      computed: {
        json() {
          return this.$store.getters.jsonPath(this.path);
        },
        value() {
          return _.get(this.json, "elements[0].text") === "true" || false;
        },
      },
    });
  </script>
</div>
