<div th:fragment="component-input-text" th:remove="tag">
  <template>
    <div>
      <v-text-field
        v-if="!i18n"
        @blur="save"
        v-model="states.text"
        :label="field.label"
        :hint="field.hint"
        :rules="usedRules"
      >
      </v-text-field>
      <v-text-field
        v-else
        @blur="save"
        v-model="states.text"
        :label="field.label"
        :hint="field.hint"
        :rules="usedRules"
        append-icon="mdi-translate"
        @click:append="showDialog"
      >
      </v-text-field>

      <component-i18n-dialog
        v-if="i18n"
        :path="path"
        :showdialog="i18nDialog"
      ></component-i18n-dialog>
    </div>
  </template>

  <script th:inline="javascript">
    DOM = document.getElementsByTagName("template")[0];
    DOM.remove();

    Vue.component("component-input-text", {
      template: DOM.innerHTML.toString(),

      props: {
        path: String,
        initialValue: String,
        field: { label: String, hint: String },
        rules: Array,
        i18n: Boolean,
      },
      data() {
        return {
          states: { text: this.initialValue || "" },
          i18nDialog: false,
        };
      },
      mounted() {
        this.states.text = this.value;
      },
      watch: {
        value() {
          this.states.text = this.value;
        },
      },
      methods: {
        save() {
          const path = `${this.path}.elements`;
          const data = [
            {
              type: "text",
              text: this.states.text,
            },
          ];
          this.$store.commit("updateJson", { path, data });
        },
        showDialog() {
          this.i18nDialog = false;
          setTimeout(() => (this.i18nDialog = true), 100);
        },
      },
      computed: {
        json() {
          return this.$store.getters.jsonPath(this.path);
        },
        value() {
          return (
            _.get(this.json, "elements[0].text") || this.initialValue || ""
          );
        },
        usedRules() {
          const rulesObject = this.$store.state.moduleRules.rules;
          const ruleKeys = Object.keys(rulesObject);
          const usedRuleKeys = ruleKeys.filter(
            (ruleName) => this.rules.indexOf(ruleName) !== -1
          );

          return usedRuleKeys.map((usedRuleKey) => rulesObject[usedRuleKey]);
        },
      },
    });
  </script>
</div>
