<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Content Type Manager</title>

    <!-- CSS Dependencies -->
    <fragment
      th:replace="./fragments/dependencies/css.html"
      th:remove="tag"
    ></fragment>
  </head>
  <body>
    <v-app id="app">
      <v-form ref="form" lazy-validation>
        <component-file-picker-and-saver></component-file-picker-and-saver>

        <component-recursive-element-render
          :path="''"
        ></component-recursive-element-render>
      </v-form>
    </v-app>

    <!-- JS Dependencies -->
    <fragment
      th:replace="./fragments/dependencies/js.html"
      th:remove="tag"
    ></fragment>

    <!-- Modules -->
    <module th:replace="./modules/module-rules.html" th:remove="tag"></module>
    <module th:replace="./modules/module-example.html" th:remove="tag"></module>

    <!-- Components -->
    <script th:inline="javascript">
      let DOM = null;
    </script>

    <component
      th:replace="./components/component-file-handler.html"
      th:remove="tag"
    ></component>
    <component
      th:replace="./components/component-recursive-element-render.html"
      th:remove="tag"
    ></component>
    <component
      th:replace="./components/component-schemas.html"
      th:remove="tag"
    ></component>
    <component
      th:replace="./components/component-i18n-dialog.html"
      th:remove="tag"
    ></component>

    <!-- Structure -->
    <component
      th:replace="./components/structure/component-content-type.html"
      th:remove="tag"
    ></component>
    <component
      th:replace="./components/structure/component-form.html"
      th:remove="tag"
    ></component>
    <component
      th:replace="./components/structure/component-field-set.html"
      th:remove="tag"
    ></component>
    <component
      th:replace="./components/structure/component-item-set.html"
      th:remove="tag"
    ></component>
    <component
      th:replace="./components/structure/component-set-items.html"
      th:remove="tag"
    ></component>
    <component
      th:replace="./components/structure/component-option-set.html"
      th:remove="tag"
    ></component>
    <component
      th:replace="./components/structure/component-option-set-options.html"
      th:remove="tag"
    ></component>
    <component
      th:replace="./components/structure/component-option-set-options-option.html"
      th:remove="tag"
    ></component>

    <!-- Form Definition -->
    <component
      th:replace="./components/form-definition/component-form-definition-allow-child-content-types.html"
      th:remove="tag"
    ></component>
    <component
      th:replace="./components/form-definition/component-form-definition-x-datas.html"
      th:remove="tag"
    ></component>
    <component
      th:replace="./components/form-definition/component-form-definition-mixins.html"
      th:remove="tag"
    ></component>

    <!-- Input -->
    <component
      th:replace="./components/input/component-input.html"
      th:remove="tag"
    ></component>

    <!-- General Ones -->
    <component
      th:replace="./components/input/general/component-input-text.html"
      th:remove="tag"
    ></component>
    <component
      th:replace="./components/input/general/component-input-boolean.html"
      th:remove="tag"
    ></component>

    <!-- Custom Ones -->
    <component
      th:replace="./components/input/fields/component-input-fields-occurrences.html"
      th:remove="tag"
    ></component>
    <!-- Text *2 -->
    <component
      th:replace="./components/input/fields/component-input-fields-options.html"
      th:remove="tag"
    ></component>
    <!-- List: Label/Value -->
    <component
      th:replace="./components/input/fields/component-input-fields-params.html"
      th:remove="tag"
    ></component>
    <!-- List: Label/Value -->
    <component
      th:replace="./components/input/fields/component-input-fields-allowContentTypes.html"
      th:remove="tag"
    ></component>
    <!-- List: Text -->
    <component
      th:replace="./components/input/fields/component-input-fields-allowPaths.html"
      th:remove="tag"
    ></component>
    <!-- List: Text -->
    <component
      th:replace="./components/input/fields/component-input-fields-config.html"
      th:remove="tag"
    ></component>
    <!-- Specific -->
    <component
      th:replace="./components/input/fields/component-input-fields-name.html"
      th:remove="tag"
    ></component>
    <!-- Specific -->
    <component
      th:replace="./components/input/fields/component-input-fields-config.html"
      th:remove="tag"
    ></component>
    <!-- Specific -->
    <component
      th:replace="./components/input/fields/component-input-fields-name.html"
      th:remove="tag"
    ></component>
    <!-- Specific -->
    <component
      th:replace="./components/input/fields/component-input-fields-exclude.html"
      th:remove="tag"
    ></component>
    <!-- Specific -->
    <component
      th:replace="./components/input/fields/component-input-fields-include.html"
      th:remove="tag"
    ></component>
    <!-- Specific -->
    <component
      th:replace="./components/input/fields/component-input-fields-allowHeadings.html"
      th:remove="tag"
    ></component>
    <!-- Specific -->
    <component
      th:replace="./components/input/fields/component-input-fields-exclude.html"
      th:remove="tag"
    ></component>
    <!-- Specific -->
    <component
      th:replace="./components/input/fields/component-input-fields-include.html"
      th:remove="tag"
    ></component>
    <!-- Specific -->
    <component
      th:replace="./components/input/fields/component-input-fields-allowHeadings.html"
      th:remove="tag"
    ></component>
    <!-- Specific -->

    <!-- Root Component -->
    <script th:inline="javascript">
      var app = new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        store: new Vuex.Store({
          modules: {
            moduleRules,
            moduleExample,
          },
        }),
        data: {
          loadingIcon: /*[[${ loadingIcon }]]*/ "",
          map: {},
        },
        created() {
          fetch(
            "http://localhost:8080/_/service/tool.content.type.manager/test3",
            { method: "GET" }
          )
            .then((response) => response.json())
            .then((data) => (this.map = data.map));
        },
        methods: {
          // Those methods are ones that are shared through multiple components
          ableToMoveSchema(path, direction) {
            if (direction === "up" || direction === "down") {
              const indexesWithBracketsInPath = path.match(/[[0-9]+]/g);
              const lastIndexWithBrackets = _.last(indexesWithBracketsInPath);
              const previousPath = path.slice(0, -lastIndexWithBrackets.length);
              const currentIndex = parseInt(
                lastIndexWithBrackets.replace("[", "").replace("]", "")
              );
              const desiredIndex =
                direction === "up" ? currentIndex - 1 : currentIndex + 1;
              const maxIndex = Math.max(
                (this.$store.getters.jsonPath(previousPath) || []).length - 1,
                0
              );
              return !(0 <= desiredIndex && desiredIndex <= maxIndex);
            }
          },
          moveSchema(path, direction) {
            this.$store.commit("moveSchemaInJson", { path, direction });
          },
        },
      });
    </script>
  </body>
</html>
